@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.section{
    padding: 0 360px;
}

.first_section{
    height: 800px;
    background: rgb(242,200,39);
    background: radial-gradient(circle, rgba(242,200,39,1) 29%, rgba(233,156,22,1) 100%);
}

.first_section .upper_nav{
    width: 100%;
    height: 100px;
    padding: 30px 0;
}
.first_section .upper_nav .logo{
    height: 100px;
    float: left;
}

.first_section .upper_nav .menu{
    float: left ;
    height: 100px;
    margin-left: 100px;
}

.first_section .upper_nav .menu .menu_elem{
    float: left;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
}

.first_section .middle{
    height: 300px;
    margin-top: 60px;
}

.first_section .middle .left{
    float: left;
    width: 450px;
}

.first_section .middle .left .big_text{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
}

.first_section .middle .left .small_text{
    margin-top: 30px;
    font-size: 16px;
}

.first_section .middle .left .application_button{
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    text-align: center;
    background: #02b770;
    margin-top: 30px;
}

.first_section .middle .right{
    float: right;
}

.first_section .middle .right .monoblock{
    width: 400px;
}

.second_section{
    height: 400px;
    background: #FFFDF7;
}

.second_section .card {
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 50px;
}

.second_section .card .icon{
    position: relative;
    width: 150px;
    display: block;
    top: -60px;
}

.second_section .card .header{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.second_section .card .text{
    font-size: 14px;
}